* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(./imagenes/INFORMATICA.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    position: fixed; /* Para mantener el header fijo en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el header esté por encima de otros contenidos */
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Responsive header */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        margin: 10px 0;
    }
}

footer {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    position: fixed; /* Para mantener el footer fijo en la parte inferior */
    bottom: 0;
    left: 0;
    z-index: 1000; /* Asegura que el footer esté por encima de otros contenidos */
    display: flex;
    justify-content: center;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.social-media a:hover {
    text-decoration: underline;
}

/* Responsive footer */
@media (max-width: 600px) {
    .social-media {
        flex-direction: column;
    }
    
    .social-media a {
        margin: 5px 0;
    }
}

.form-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(90, 243, 128, 0.1);
}

.form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.form-group, .form-group-full {
    margin-bottom: 15px;
}

.form-group-full {
    grid-column: span 3;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {

    .form-row {
        grid-template-columns: 1fr 1fr;
    }
    .form-group-full {
        grid-column: span 2;
    }
}

@media (max-width: 400px) {
    body {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140vh;
        margin: 0;
    }

    .form-row {
        grid-template-columns: 1fr;
    }
    .form-group-full {
        grid-column: span 1;
    }
}
